// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-form {
    background-color: #2E3037;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
}

#actual-form {
    background-color: #37393F;
}
